.test {
    border: 4px solid green;
}

html, body {
    color: white;
    font-family: "Roboto", sans-serif;
}

/*
.container-fluid{
    overflow: hidden !important;
}
*/

.full-viewport {
    min-height: 100vh;
}

.image-shadow {
    box-shadow: inset 0 0 0 1000px rgba(28, 29, 38, 0.74);
}

.transparent-background {
    background: rgba(25, 26, 31, 0.95)
}

.solid-background {
    background-color: rgba(28, 29, 38, 1)
}

.dark-background {
    background-color: rgb(39, 40, 51);
}

.red-background {
    background-color: rgb(187, 69, 89);
}

.project-icon {
    font-size: 3.5em;
}

h1 {
    font-size: 2.5em;
    line-height: 1.5em;
    letter-spacing: -0.025em;
    font-weight: 300;
}

h2 {
    font-size: 2em;
    line-height: 1.5em;
    letter-spacing: -0.025em;
    font-weight: 300;
}

h3 {
    font-size: 1.3em;
    line-height: 1.75em;
    font-weight: 300;
}

h4 {
    font-size: 1.25em;
    line-height: 1em;
    font-weight: 300;
    color: rgb(220, 220, 220);
}

p {
    color: rgb(185, 185, 185);
    font-size: 1.05em;
    line-height: 1.7em;
    font-weight: 100;
}

li {
    list-style-type: none;
}

.a-link {
    text-decoration: none !important;
    color: rgb(220, 220, 220);
    font-size: 1.08em;
    line-height: 1.7em;
    font-weight: 100;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.a-link:hover {
    color: rgb(228, 75, 101);
}

.a-button {
    background: Transparent;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 5px;
    color: white;
    padding: 0.7em 2em;
    font-size: 1.05em;
    cursor: pointer;
    -webkit-transition: border 0.2s, color 0.2s;
    transition: border 0.2s, color 0.2s;
}

.a-button:hover {
    color: rgb(228, 75, 101);
    border-color: rgb(228, 75, 101);
    text-decoration: none;
}

.a-inline {
    color: white !important;
    text-decoration: underline;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.a-inline:hover {
    color: rgb(185, 185, 185);
}

.a-more-info {
    color: rgb(185, 185, 185) !important;
    text-decoration: underline !important;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    cursor: pointer;
}

.a-more-info:hover {
    color: white !important;
}

.a-footer {
    color: rgb(185, 185, 185);
    text-decoration: underline;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.a-footer:hover {
    color: white;
}

.top-border {
    border-top: 5px solid rgb(228, 75, 101);
}

.left-border {
    border-top: 5px solid rgb(84, 128, 241);
}

.right-border {
    border-top: 5px solid rgb(56, 192, 135);
}

hr {
    border-color: rgb(228, 75, 101);
    border-width: 3px;
}

.footer-icon {
    color: rgb(185, 185, 185);
    font-size: 2.1em;
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    .left-border {
        border-left: 5px solid rgb(84, 128, 241);
        border-top: none;
    }

    .right-border {
        border-right: 5px solid rgb(56, 192, 135);
        border-top: none;
    }
}
